.nav-container{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddc686;
    background-color: black;
}

.nav-left{
  flex: 1;
  align-items: center;
}

.nav-title{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.nav-right{
  flex: 1;
  align-items: center;
}

.nav-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: white;
}

.nav-btn{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around; 
}

.nav-button{
 align-items: center;
 color: white;
 border-radius: 8px;
 border-color: lightgray;
 background-color: darkblue;
 font-size: 20px;
 padding: 10px;
 border: none;
 cursor: pointer;
}

